APP_NAME=SimpleStockFlow
APP_ENV=production
APP_KEY=base64:abcdefghijklmnopqrstuvwxyz1234567890ABCDEFG=
APP_DEBUG=false
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=simple_stock_flow
DB_USERNAME=simple_stock_flow
DB_PASSWORD=postgres_secret_123

JWT_SECRET=simple_stock_flow_super_secret_jwt_key_3413974_adso
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123*
